{% extends 'base.html.twig' %}

{% block title %}ssss{% endblock %}

{% block body %}
    {# use the twig methode 'form' and here call the variable "form" #}

    <div style="margin-left:50%; margin-top: 50px">
        <h1>inscription</h1>
        {{ form(form) }}
    </div>

{% endblock %}
